.menu {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 2px;
  width: 100px;
  background-color: var(--header-bg);
  border: 1px solid var(--header-border);
  z-index: 1000;
}

.item {
  font-size: 12px;
  padding: 1px;

  &:hover {
    cursor: pointer;
    background-color: var(--my-blue);
    color: white;
  }
}

.highlight-item {
  font-size: 12px;
  padding: 1px;
}

.color-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 100%;

  ::before {
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: red;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}