.menu {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 2px;
  width: 100px;
  background-color: var(--header-bg);
  border: 1px solid var(--header-border);
  z-index: 1000;
}

.item {
  font-size: 12px;
  padding: 1px;

  &:hover {
    cursor: pointer;
    background-color: var(--my-blue);
    color: white;
  }
}

.highlight-item {
  font-size: 12px;
  padding: 1px;
}

.color-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.color {
  width: 12px;
  height: 12px;
  margin: 2px;
  border: 1px solid darkgray;
  outline: 2px solid lightgray;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}