<div id="menu" class="menu">
  <div class="item g-noselect" (click)="undo()">Undo</div>
  <div class="g-div"></div>
  <div class="item g-noselect" (click)="cut()">Cut</div>
  <div class="item g-noselect" (click)="copy()">Copy</div>
  <div class="item g-noselect" (click)="paste()">Paste</div>
  <div class="item g-noselect" (click)="deleteClick()">Delete</div>
  <div class="g-div"></div>
  <div class="item g-noselect" (click)="selectAll()">Select All</div>
  <div class="g-div"></div>
  <div class="highlight-item">
    <span>Highlight</span>
    <div class="color-row">
      <ng-container *ngFor="let c of colors">
        <div class="color" [style.backgroundColor]="c"></div>
      </ng-container>
    </div>
  </div>
</div>
<div id="overlay" class="overlay" (click)="clickOverlay()"></div>