<div id="menu" class="menu">
  <div class="item g-noselect" (click)="undo()">Undo</div>
  <div class="g-div"></div>
  <div class="item g-noselect" (click)="cut()">Cut</div>
  <div class="item g-noselect" (click)="copy()">Copy</div>
  <div class="item g-noselect" (click)="paste()">Paste</div>
  <div class="item g-noselect" (click)="deleteClick()">Delete</div>
  <div class="g-div"></div>
  <div class="item g-noselect" (click)="selectAll()">Select All</div>
</div>
<div id="overlay" class="overlay" (click)="clickOverlay()"></div>