<div class="x-spacer"></div>
<div class="fr">
  <div class="y-spacer"></div>
  <div class="fc">
    <ng-container *ngFor="let row of grid | async; index as i">
      <div class="row">
        <ng-container *ngFor="let cell of row; index as j">
          <app-cell 
            [width]="cell.width" 
            [height]="cell.height"
            [border]="cell.border"
            (mousedown)="onMouseDown($event, i, j)"
            (mouseenter)="onMouseEnter($event, i, j)"
            (mouseup)="onMouseUp($event, i, j)"
          ></app-cell>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
