/* You can add global styles to this file, and also import other style files */
:root {
  --y-axis-width: 28px;
  --header-bg: #cccccc; // originally #bbbbbb
  --header-border: #4f4f4f;
  --my-red: #ff0000;
  --my-blue: rgb(0, 64, 164);
}

body {
  margin: 0px;
  font-family: 'Helvetica', Arial, Lucida Grande, sans-serif !important;
}

.g-spacer {
  width: calc(var(--y-axis-width) + 0px) !important;
  height: 20px;
}

.g-border {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  border-right: solid;
  border-bottom: solid;
  border-width: 1px;
}

.g-div {
  width: 100%;
  height: 1px;
  border-top: solid;
  border-width: 1px;
  border-color: var(--header-border);
}

.g-noselect {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.fc {
  display: flex;
  flex-direction: column;
}

.fr {
  display: flex;
  flex-direction: row;
}