.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  z-index: 102;
  height: 20px;
  border-bottom: solid;
  border-width: 1px;
  border-color: var(--header-border);
  box-sizing: border-box;
}

.item {
  font-size: 13px;
  width: fit-content;
  text-align: center;
  height: 100%;
  padding-top: 2px;
  padding-inline: 4px;

  &:hover {
    cursor: pointer;
    background-color: var(--my-blue);
    color: white;
  }

  &:first-of-type {
    padding-left: 4px;
  }
}