<div class="menu">
  <div class="item g-noselect">File</div>
  <div class="item g-noselect" (click)="openMenu('edit-menu')">Edit</div>
    <div id="edit-menu" class="drop-menu">
      <div class="drop-item g-noselect" (click)="undo()">
        <div>Undo</div>
        <div>Ctrl+Z</div>
      </div>
      <div class="g-div"></div>
      <div class="drop-item g-noselect" (click)="cut()">
        <div>Cut</div>
        <div>Ctrl+X</div>
      </div>
      <div class="drop-item g-noselect" (click)="copy()">
        <div>Copy</div>
        <div>Ctrl+C</div>
      </div>
      <div class="drop-item g-noselect" (click)="paste()">
        <div>Paste</div>
        <div>Ctrl+V</div>
      </div>
      <div class="drop-item g-noselect" (click)="deleteClick()">
        <div>Delete</div>
        <div>Del</div>
      </div>
      <div class="g-div"></div>
      <div class="drop-item g-noselect" (click)="selectAll()">
        <div>Select All</div>
        <div>Ctrl+A</div>
      </div>
      <div class="g-div"></div>
      <div class="highlight-item">
        <span>Highlight</span>
        <div class="color-row">
          <ng-container *ngFor="let c of colors; let f = first">
              <div 
                class="color" 
                [style.backgroundColor]="c === 'transparent' ? '#fff' : c" 
                (click)="setHighlight(c)"
              ></div>
          </ng-container>
        </div>
      </div>
    </div>
  <div class="item g-noselect">View</div>
  <div class="item g-noselect">Options</div>
</div>
<div id="overlay" class="overlay" (click)="closeMenu()"></div>